body {
  font-family: sans-serif;
}

.menu {
    border-radius: 5px;
    min-width: 280px;
    position: absolute;
    border: 10px solid #282a31e0;
    text-align: center;
    
  -webkit-box-shadow: 0px 0px 80px 5px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 0px 80px 5px rgba(0,0,0,0.83);
  box-shadow: 0px 0px 80px 5px rgba(0,0,0,0.83);
  }
  
  .menu .head {
  font-family: sans-serif;
    background-color: #282a31e0;
    text-align: center;
    color: #8393d1fa;
    font-weight: 500;
    height: 40px;
    line-height: 33px;
  }
  
  .menu .menu-items {
  font-family: sans-serif;
    font-size: 65%;
    max-height: 800px;
    overflow-y: auto;
    text-indent: 1.5%;
    line-height: 300%;
    background: #282a31e0;
    color: #afafaf;
    text-align: left;
    text-indent: 15px;
  }
  
  .menu .menu-items .menu-item.selected {
    border: 0.5px solid #8393d1fa;
    border-radius: 5px;
    color: #8393d1fa;
  }
  
  .menu.align-left {
    left: 40;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .menu.align-top-left {
    left: 40;
    top: 40;
  }
  
  .menu.align-top {
    left: 50%;
    top: 40;
    transform: translate(-50%, 0);
  }
  
  .menu.align-top-right {
    right: 10;
    top: 40;
  }
  
  .menu.align-right {
    right: 40;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .menu.align-bottom-right {
    right: 40;
    bottom: 40;
  }
  
  .menu.align-bottom {
    left: 50%;
    bottom: 40;
    transform: translate(-50%, 0);
  }
  
  .menu.align-bottom-left {
    left: 40;
    bottom: 40;
  }
  
  .menu.align-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

::-webkit-scrollbar {
  width: 0px;
}

@keyframes öppna {
    from {
    opacity: 0;
        transform: translateX(50px);
    }

    to { 
    transform: translateY(0px);
    }
}